/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-bg-dark: oklch(0.92 0 110);
  --clr-bg: oklch(0.96 0 110);
  --clr-bg-light: oklch(1 0 110);
  --clr-text: oklch(0.15 0 110);
  --clr-text-muted: oklch(0.4 0 110);
  --clr-highlight: oklch(1 0 110);
  --clr-border: oklch(0.6 0 110);
  --clr-border-muted: oklch(0.7 0 110);

  --clr-primary: oklch(0.76 0.1 240);
  --clr-secondary: oklch(0.76 0.1 300);
  --clr-tertiary: oklch(0.76 0.1 270);

  --clr-danger: oklch(0.7 0.1 30);
  --clr-warning: oklch(0.7 0.1 100);
  --clr-success: oklch(0.7 0.1 160);
  --clr-info: oklch(0.7 0.1 260);

  --box-shadow: 0.1rem 0.1rem 0.5rem var(--clr-text-muted);
  --border-radius: 0.5rem;
  --outline: 1px solid red;
}

body.dark {
  /* oklch */
  --clr-bg-dark: oklch(0.05 0 110);
  --clr-bg: oklch(0.15 0 110);
  --clr-bg-light: oklch(0.25 0 110);
  --clr-text: oklch(0.96 0 110);
  --clr-text-muted: oklch(0.76 0 110);
  --clr-highlight: oklch(0.5 0 110);
  --clr-border: oklch(0.4 0 110);
  --clr-border-muted: oklch(0.3 0 110);

  --clr-primary: oklch(0.4 0.1 240);
  --clr-secondary: oklch(0.4 0.1 300);
  --clr-tertiary: oklch(0.4 0.1 270);

  --clr-danger: oklch(0.5 0.1 30);
  --clr-warning: oklch(0.5 0.1 100);
  --clr-success: oklch(0.5 0.1 160);
  --clr-info: oklch(0.5 0.1 260);

  --box-shadow: 0.5rem 0.5rem 1.5rem var(--clr-border-muted);
}

.theme-button {
  background-color: var(--clr-bg-dark);
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  padding: 0.2rem 0.5rem;
  border: 0.1rem solid var(--clr-border-muted);
  border-radius: 0.5rem;
}

.theme-button:hover {
  background-color: var(--clr-bg-light);
  border-color: var(--clr-border);
  cursor: pointer;
}

/* END of resets and theming */

body {
  height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: var(--clr-primary);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer {
  padding: 0.5rem;
}

main {
  /* outline: var(--outline); */
  flex: 1;

  /* overflow-y: scroll; */

  background-color: var(--clr-bg-dark);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  >* {
    width: clamp(300px, 80%, 75ch);
    /* max-width: 100%; */
  }

  form {
    /* outline: var(--outline); */

    /* position: sticky;
    top: 0rem; */

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--clr-bg-light);
    border-radius: var(--border-radius);
    border: 0.1rem solid var(--clr-border);

    input {
      border-radius: var(--border-radius);
      padding: 0.25rem 0.5rem;
    }

    button {
      font-weight: 600;
      padding: 0.5rem;
    }
  }

  #weatherContainer {
    /* width: 100%; */
    background-color: var(--clr-bg-light);
    border-radius: var(--border-radius);
    border: 0.1rem solid var(--clr-border);
    /* overflow: ; */

    #weatherSelector {
      /* outline: var(--outline); */
      border-radius: var(--border-radius) var(--border-radius) 0 0;

      display: grid;
      grid-template-columns: repeat(3, 1fr);

      button {
        border: none;
        padding: 0.5rem 0;
      }

      button:hover {
        cursor: pointer;
      }
    }

    #weatherDisplay {
      padding: 1rem;

      .currentWeather {}

      .todaysWeather {
        .hourlyDiv {
          /* display: grid; */
          /* grid-template-columns: 1fr 1fr; */
          /* flex-wrap: wrap; */
        }

      }

      .fourteenDaysWeather {
        /* display: flex; */
        /* flex-wrap: wrap; */
      }

      img {

        background-color: white;
        height: 5rem;
        aspect-ratio: 1;
        padding: 0.25rem;
        border-radius: var(--border-radius);
        border: 0.1rem solid var(--clr-border);
      }
    }
  }
}

.hidden {
  display: none;
}