*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

header,
footer,
main,
section,
article {
  container-type: inline-size;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
}

main {
  flex: 1;
}

.hidden {
  display: none;
}

footer {
}

fieldset {
  display: inline-block;
  padding-inline: 0.5rem;
}
